@import "tailwindcss";
@import "@nuxt/ui";
@import "~/assets/css/typography.css";
@import "~/assets/css/markdown.css";

@theme static {
    --font-sans: "Geist", sans-serif;
}

* {
    scrollbar-width: thin !important;
    scroll-behavior: smooth;
    scroll-margin-top: calc(var(--ui-header-height) + 1rem) !important;
}
