.typ-title {
    line-height: 1.5em !important;
    @apply md:text-5xl text-4xl font-bold text-highlighted;
}
.typ-subtitle {
    line-height: 1.25em !important;
    @apply text-2xl font-bold text-highlighted;
}
.typ-label {
    @apply text-sm text-toned;
}
.typ-sublabel {
    @apply text-xs text-muted;
}
